<div class="d-flex align-items-center">
    <h1>アクティビティ登録</h1>
    <div class="ml-auto posts_button">
        <%= link_to '投稿一覧', activities_path, class: "btn btn-outline-info" %>
    </div>
</div>
<%= render 'form' %>